$gutter: 0.625rem;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 2vw;
  color: white;
  font-family: 'Saira', sans-serif;
  background-color: #222;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-auto-rows: minmax(15rem, auto);
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 100vw;
  padding: 1rem;
}

.widget {
  position: relative;
  text-align: center;
  padding: 1.25rem;
  color: #333;
  background-color: #12b0c5;
}

.widget--medium {
  grid-column: span 2;
}

.widget__title {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 400;
  color: #fff;
}

.widget__value {
  text-transform: uppercase;
  padding: 0.725rem 0;
  font-size: 4.4rem;
  font-weight: 700;
  color: #fff;
}

.widget__updatedAt {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
