<html>

<head>
  <title>Metricio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Saira" rel="stylesheet">
</head>

<body>
  <div id="content"></div>
  <script src="dist/{{name}}.dashboard.bundle.js"></script>
</body>

</html>
